## Introduction

### **Problem Statement**

> Modelling house prices based on other factors

### **Success Metrics**

    1. Accuracy score of above 80%
    2. Least possible RMSE value
    3. Identifying the best Model

### **Understanding the context**

Hass Consulting Company is a real estate leader with over 25 years of experience. The company wishes to understand the factors that affect the price of a house and to further build a model to predict the price of a house given a set of the predictor variables.

### **Recording the Experimental Design**

* Read and explore the given dataset.
* Find and deal with outliers, anomalies, and missing data within the dataset.
* Perform univariate, bivariate and multivariate analysis recording your observations.
* Performing regression analysis. This will be done using the following regression techniques:

    1. Linear Regression
    2. Quantile Regression
    3. Ridge Regression
    4. Lasso Regression
    5. Elastic Net Regression
* Check for multicollinearity
* Create residual plots for your models, and assess heteroskedasticity using Barlett's test.
* Provide a recommendation based on your analysis.
* Challenge the solution by providing insights on how you can make improvements in model improvement.

### **Data Relevance**

The data contains much of the factors that are considered when purchasing a house. Worth noting is that each of these features comes at a cost. For example extra room implies extra cost and so on.

## Loading Libraries and Data

In [1]:
# Importing the Necessary Libraries
import pandas as pd


import matplotlib.gridspec as gridspec
from datetime import datetime
from scipy.stats import skew  # for some statistics
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax
from sklearn.linear_model import ElasticNetCV, LassoCV, RidgeCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from mlxtend.regressor import StackingCVRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
import matplotlib.pyplot as plt
import scipy.stats as stats
import sklearn.linear_model as linear_model
import matplotlib.style as style
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import missingno as msno

In [2]:
# Loading the Dataset
df = pd.read_csv('house_data.csv')
df.head()

           id     price  bedrooms  ...     long  sqft_living15  sqft_lot15
0  7129300520  221900.0         3  ... -122.257           1340        5650
1  6414100192  538000.0         3  ... -122.319           1690        7639
2  5631500400  180000.0         2  ... -122.233           2720        8062
3  2487200875  604000.0         4  ... -122.393           1360        5000
4  1954400510  510000.0         3  ... -122.045           1800        7503

[5 rows x 20 columns]

In [20]:
# Previewing the tail of the data
df.tail()

          price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
21608  360000.0         3       2.50  ... -122.346           1530        1509
21609  400000.0         4       2.50  ... -122.362           1830        7200
21610  402101.0         2       0.75  ... -122.299           1020        2007
21611  400000.0         3       2.50  ... -122.069           1410        1287
21612  325000.0         2       0.75  ... -122.299           1020        1357

[5 rows x 19 columns]

In [3]:
# Data Size
print('Rows: ', df.shape[0])
print('Columns: ', df.shape[1])

Rows:  21613
Columns:  20

In [4]:
# Confirming the datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15)
memory usage: 3.3 MB

* The **id** column is not useful in this analysis
* There are no missing values in this data
* **price** column has our depedent variable that we wish to determine factors that affect it and to further create a model that predicts it based on the remaining fetures
* In so much as the following columns are numeric **bedroom, bathrooms, floors, waterfront, year_built** and  **zip_code** represent nominal values

In [21]:
# Identifying variables with integer datatype
df.dtypes[df.dtypes == 'int64']

bedrooms         int64
sqft_living      int64
sqft_lot         int64
waterfront       int64
view             int64
condition        int64
grade            int64
sqft_above       int64
sqft_basement    int64
yr_built         int64
yr_renovated     int64
zipcode          int64
sqft_living15    int64
sqft_lot15       int64
dtype: object

In [5]:
# Dropping the 'id' column
df = df.drop(['id'], axis=1)

In [6]:
# Previewing the Data
df.sample(5)

           price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
21489   352500.0         2       2.50  ... -122.387            980        1023
12295  1710000.0         5       2.50  ... -122.223           3960       14595
1476    400000.0         3       2.25  ... -122.203           1470        2418
20277   308000.0         3       2.50  ... -122.363           1250        1150
15744   560000.0         3       2.00  ... -122.199           1820        8770

[5 rows x 19 columns]

In [9]:
# Numeric Features Description
df.describe()

              price      bedrooms  ...  sqft_living15     sqft_lot15
count  2.160800e+04  21608.000000  ...   21608.000000   21608.000000
mean   5.401924e+05      3.370927  ...    1986.583164   12770.108340
std    3.673996e+05      0.930103  ...     685.421474   27307.006892
min    7.500000e+04      0.000000  ...     399.000000     651.000000
25%    3.218375e+05      3.000000  ...    1490.000000    5100.000000
50%    4.500000e+05      3.000000  ...    1840.000000    7620.000000
75%    6.450000e+05      4.000000  ...    2360.000000   10083.250000
max    7.700000e+06     33.000000  ...    6210.000000  871200.000000

[8 rows x 19 columns]

In [7]:
# Checking for duplicates
df.duplicated().any()

True

In [8]:
# Dropping the Duplicates
df = df.drop_duplicates()
df.duplicated().any()

False

## Exploratory Data Analysis

### Univariate Analysis

When dealing with numerical variables, we have to check their properties like:
   1. Mean
   2. Median
   3. Standard Deviation
   4. Kurtosis/skewness
   5. Distribution/range

In [10]:
df.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

#### Price

In [ ]:
price_fig, axs = plt.subplots(ncols = 4, figsize=(16, 4))

sns.distplot(df.price, kde=False, ax=axs[0])
second_plt = sns.distplot(df.price, kde=False, ax=axs[1])
sns.boxplot(df.price, ax=axs[2], orient = 'v')
# sns.boxplot(df.price, ax=axs[3], orient = 'v', showfliers=False)

# second_plt.set_yscale('log')

In [19]:
sns.distplot(df.price, kde=False, ax=axs[0])

/usr/local/lib/python3.6/dist-packages/seaborn/distributions.py:2557: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

### Bivariate Analysis

### Multivariate Analysis

## Models

### Linear Regression

### Quantile Regression

### Ridge Regression

### Lasso Regression

### Elastic Net Regression